<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Sync" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Messaging.Common.Standard" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Social" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.GoogleServices" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Nui.ServiceModel" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.File" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.File.Abstractions" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Web.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Web.Http.Abstractions" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.GlobalSearch" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.GoogleServerConnector" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.Scheduler" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Nui" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Monitoring" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.Process" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.ConfigurationBuild" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.Translation" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Services" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Terrasoft.Core.Packages" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.18.4.1534" newVersion="7.18.4.1534" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>